@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
    margin: 0;
    background-color: #1c232d;
    color: white;
    font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
